body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: aqua;
}
#header{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#inputDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  padding: 0 10px;
}
#mainArea{
width: 95vw;
margin: 0 auto;
padding: 15px;
border-radius: 20px;
background-color: lightgray;
box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
box-sizing: border-box;
}
#cardsContainer{
  display: grid;
  grid-template-columns: 1fr; /*mobile-first: 1 coluna e depois expande*/
  gap: 15px;
}
.card{
  border-radius: 18px;
  padding: 10px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3)
}
.cardContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}
#pokeImage{
  max-width: 60%;
  height: auto;
}
.pokeInfo{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.pokeName{
  text-align: center;
}
.cardHeader {
  position: relative;
  text-align: center;
}

.btnCloseTab {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
}

#btnCloseAll{
}
.mainAreaHeader{
  display: flex;
  justify-content: center;
  padding: 20px;
}

/*Tablet: 2 cards p/coluna e horizontal*/

@media (min-width: 600px){
  #cardsContainer{
    grid-template-columns: repeat(2, 1fr);
  }

  .cardContent{
    flex-direction: row;
    text-align: left;
    align-items: center;
  }
  .mainAreaHeader{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
  }
}

/*Desktop: 3 cards p/coluna*/

@media (min-width: 900px){
  #cardsContainer{
    grid-template-columns: repeat(3, 1fr);
  }

  #mainArea{
    width: 85vw;
  }
  .mainAreaHeader{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
  }
}