*, *::before, *::after {
  box-sizing: border-box;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url("../images/map.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
  z-index: 0;
  min-height: 100dvh;
}
body::before{
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: saturate(120%);
  pointer-events: none;
  z-index: -1;
}
h1{
  font-family: "Press Start 2P", cursive;
  color: #ffcb05;
  -webkit-text-stroke: 1px #3b4cca;
  position: relative;
  z-index: 10;
  color: whitesmoke;
}
#errorMessage{
  width: 90%;
  max-width: 500px;
  margin: 0 auto 15px auto;
  padding: 10px 12px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.95);
  color: #ff2c2c;
  font-weight: bold;
  text-align: center;
  overflow: hidden;

  transform: translateX(-120%);
  opacity: 0;

  transition: transform 0.4s ease, opacity 0.4s ease;
}
#errorMessage.show{
  transform: translateX(0);
  opacity: 1;
}
#errorMessage.hide{
  opacity: 0;
  transform: translateX(-120%);
}
#header{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#inputDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  padding: 0 10px;
  position: relative;
  z-index: 2;
  flex-direction: column;
}
#pokeInput{
  border: solid 3px white;
  border-radius: 30px;
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  transition: 0.3s;
}
#pokeInput:hover{
  border: solid 3px blue;
}
#mostrarCard{
  border: solid 3px blue;
  border-radius: 30px;
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  background-color: white;
  transition: 0.2s;
}
#mostrarCard:hover{
  background-color: blue;
  color: white;
  cursor: pointer;
}
#mostrarCard:active{
  opacity: 0.8;
}
#mainArea{
width: 95vw;
margin: 0 auto;
padding: 15px;
border-radius: 20px;
/*background-color: rgba(211, 211, 211, 0.85);*/
background-image: url("../images/pokeball.png");
background-repeat: repeat;
background-size: 300px;
box-sizing: border-box;
position: relative;
z-index: 1;

transform: translateY(-100px);
opacity: 0;
pointer-events: none;

transition: transform 0.4s ease, opacity 0.4s ease;
}
#mainArea.active {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
#cardsContainer{
  display: grid;
  grid-template-columns: 1fr; /*mobile-first: 1 coluna e depois expande*/
  gap: 15px;
}
.card{
  border-radius: 18px;
  padding: 10px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3)
}
.cardContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.pokeImage{
  max-width: 60%;
  height: auto;
}
.pokeInfo{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.pokeName{
  text-align: center;
}
.cardHeader {
  position: relative;
  text-align: center;
}
.btnCloseTab {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
}
#btnCloseAll{
  display: block;
  margin: 0 auto;
  border: solid 3px red;
  border-radius: 30px;
  width: 80%;
  max-width: 300px;
  padding: 12px 16px;
  font-size: 16px;
  background-color: white;
  color: red;
  cursor: pointer;
  transition: 0.2s;
}
#btnCloseAll:hover{
  background-color: red;
  color: white;
}
#btnCloseAll:active{
  opacity: 0.8;
}
.mainAreaHeader{
  display: flex;
  justify-content: center;
}

/*Tablet: 2 cards p/coluna e horizontal*/

@media (min-width: 600px){
  #cardsContainer{
    grid-template-columns: repeat(2, 1fr);
  }

  .cardContent{
    flex-direction: row;
    text-align: left;
    align-items: center;
  }
  .mainAreaHeader{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
  }
    #inputDiv{
    flex-direction: row;
  }

  #pokeInput{
    width: 40%;
  }

  #mostrarCard{
    width: 30%;
  }

  #btnCloseAll{
    width: 30%;
  }
}

/*Desktop: 3 cards p/coluna*/

@media (min-width: 900px){
  #cardsContainer{
    grid-template-columns: repeat(3, 1fr);
  }

  #mainArea{
    width: 85vw;
  }
  .mainAreaHeader{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
  }
    body{
    background-attachment: fixed;
  }
}