body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: aqua;
}
#header{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#inputDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
#mainArea{
  width: 90vw;
  min-height: auto;
  border-radius: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: lightgray;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}
#cardsContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.card{
  margin: 10px;
  border-radius: 18px;
  height: auto;
  flex: 1;
  padding: 10px;
  background-color: whitesmoke;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3)
}
.cardContent{
  display: flex;
  align-items: center;
  gap: 15px;
}
#pokeImage{
  width: 200px;
}
.pokeInfo{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.pokeName{
  text-align: center;
}
.cardHeader {
  position: relative;
  text-align: center;
}

.btnCloseTab {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
}

#btnCloseAll{
}
.mainAreaHeader{
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}